{% extends "base.html" %}
{% block content %}
<!--
<h1 class="text-primary">
    S3
</h1>     -->

<div class="containerW100">
    <div class="row align-items-start">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    Lista API Gateway - Profilo attivo: <b>{{profile}}</b>
                </li>
                <li class="list-group-item p-1 overflow-hidden ">
                    {% for b in list %}
                        <a href="/api_gateway/{{b.id}}"  class="badge {% if sel==b.id %} badge-primary {% else %} badge-info  {% endif %}">
                            {{b.name}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="col table-responsive">
            {% if load_l2==True %}
            <table class="table table-bordered small ">
                <thead><tr><th colspan="2" class="table-success">API: {{sel}}</th></tr></thead>
                <tbody>
                    {% for obj in detail %}
                        <tr>
                            <td>{{obj['path']}}</td>
                            <td>{{obj['resourceMethods']}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            {% endif %}
        </div>
        <div class="col">
            {% if load_l2==True  %}
            <table class="table table-bordered small ">
                <thead><tr><th colspan="3" class="table-success">Stages</th></tr></thead>
                <tbody>
                    {% for obj in detail2 %}
                        {% for key in obj %}
                        <tr>
                            <td>{{obj['stageName']}}</td>
                            <td>{{key}}</td>
                            <td>{{ obj[key] }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}