{% extends "base.html" %}
{% block content %}

<div class="containerW100">
    <div class="row align-items-start">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    Lista code SQS - Profilo attivo: <b>{{profile}}</b>
                </li>
                <li class="list-group-item p-1 overflow-hidden ">
                    {% for b in list %}
                        <a href="/sqs/{{b.split("/")[-1]}}"  class="badge {% if sel==b.split('/')[-1] %} badge-primary {% else %} badge-info  {% endif %}">
                            {{b.split("/")[-1]}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="col table-responsive">
            {% if load_l3==True %}
            <ul class="list-group mb-2">
                <li class="list-group-item list-group-item-success">
                    Messaggi dalla coda {{sel}}
                </li>
                {% for obj in messages %}
                    <li class="list-group-item p-1">
                        {{obj}}
                    </li>
                {% endfor %}
            </ul>
            {% else %}{% endif %}
            {% if load_l2==True %}
            <table class="table table-bordered small ">
                <thead><tr><th colspan="2" class="table-success">{{sel}}</th></tr></thead>
                <tbody>
                    {% for obj in detail %}
                        <tr><td>{{obj}}</td><td class="">{{detail[obj] }}
                            {% if obj=="ApproximateNumberOfMessages" %}
                                <a class="badge badge-success" href="/sqs_consume/{{sel}}"> Ricevi messaggi dalla coda </a></div>
                            {% else %}{% endif %}
                        </td></tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    Invia alla doda {{sel}}
                </li>
                <li class="list-group-item p-1 list-group-item-secondary">
                    <form action = "/sqs_produce" method = "post" class="">   
                        <input type="hidden" name="sqs" value="{{sel}}"/>   
                        <input type="text" name="content" value=""/>   
                        <input type = "submit" value="Invia alla coda">   
                    </form> 
                </li>
            </ul>
            {% else %}{% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function(){ //$('document').ready(function(){
        //document.getElementById("definitionPRE").innerHTML = JSON.stringify(detail['definition' ] | tojson | safe }} , undefined, 2);
    };    
</script>
{% endblock %}