FLASK_APP=app.py
FLASK_ENV=development
DB_PATH=alnaoagents.db

LOGS_PATH=./AlNaoAIRunners/
BASE_WORKSPACE_DIR=./AlNaoAIRunners/
# poi lui ci aggiunge workspace da solo!

#REPO_URL=https://github.com/alnao/PythonExamples.git
REPO_URL=git@github.com:xxxx/xxx.git
REPO_BRANCH=test
WORK_BRANCH=alnao-ai-agent
REPO_WORKSPACE_DIR_NAME=workspace
REPO_AGENT_LOGS_DIR=.AlNaoAIRunners

# Git Credentials
GIT_SSH_KEY_PATH=
GIT_USER_NAME=AlNao Agent
GIT_USER_EMAIL=alnao@alnao.it

# https://geminicli.com/docs/reference/configuration/
GEMINI_API_KEY=
GEMINI_MODEL=
MODELS_GROUPS=Claude,Gemini,Copilot
MODELS_Claude=claude:claude-4.6-sonnet|Sonnet 4.6,claude:claude-4.6-opus|Opus 4.6
MODELS_Gemini=gemini:gemini-3.1-pro-preview|Gemini 3.1 Pro,gemini:gemini-3-flash|Gemini 3 Flash,gemini:gemini-2.5-pro|Gemini 2.5 Pro,gemini:gemini-2.5-flash|Gemini 2.5 Flash
MODELS_Copilot=copilot:gpt-5-mini|GPT 5 mini free,copilot:claude-sonnet-4.6|Sonnet 4.6 (Copilot),copilot:gpt-5.3-codex|GPT 5.3 Codex
