FLASK_APP=app.py
FLASK_ENV=development
DB_PATH=alnaoagents.db

LOGS_PATH=./AlNaoAIRunners/
BASE_WORKSPACE_DIR=./AlNaoAIRunners/
# poi lui ci aggiunge workspace da solo!

#REPO_URL=https://github.com/alnao/PythonExamples.git
REPO_URL=git@github.com:xxxx/xxx.git
REPO_BRANCH=test
REPO_WORKSPACE_DIR_NAME=workspace
REPO_AGENT_LOGS_DIR=.AlNaoAIRunners

# Git Credentials
GIT_SSH_KEY_PATH=
GIT_USER_NAME=AlNao Agent
GIT_USER_EMAIL=alnao@alnao.it

# https://geminicli.com/docs/reference/configuration/
GEMINI_API_KEY=
GEMINI_MODEL=
