{% extends "base.html" %}
{% block content %}
<!--
<h1 class="text-primary">
    S3
</h1>     -->

<div class="containerW100">
    <div class="row align-items-start">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    Lista CloudFront - Profilo attivo: <b>{{profile}}</b>
                </li>
                <li class="list-group-item p-1 overflow-hidden ">
                    {% for b in list_cf %}
                        <a href="/cloufFront_level2/{{b.Id}}"  class="badge {% if sfsel==b.Id %} badge-primary {% else %} badge-info  {% endif %}">
                            {{b.Origins.Items[0].DomainName}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="col table-responsive">
            {% if load_l2==True %}
            <table class="table table-bordered small ">
                <thead><tr><th colspan="2" class="table-success">{{sfsel}}</th></tr></thead>
                <tbody>
                    {% for obj in dettaglio %}
                        <tr><td>{{obj}}</td><td class="">{% if obj!="DistributionConfig" %}{{dettaglio[obj] }}{% endif%}</td></tr>
                    {% endfor %}
                    {% for obj in dettaglio.DistributionConfig.Origins.Items[0] %}
                        <tr><td>{{obj}}</td><td> {{dettaglio.DistributionConfig.Origins.Items[0][obj] }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            {% endif %}
        </div>
        <div class="col">
            {% if load_l2==True %}
            <table class="table table-bordered small ">
                <thead><tr><th colspan="2"  class="table-success">Invalidazioni
                    <a href="/cloufFront_invalid/{{sfsel}}"  class="badge badge-warning float-right">Invalida</a>
                </th></tr></thead>
                <tbody>
                    {% for obj in list_invalidaz %}
                        <tr><td>{{obj.Status}}</td><td class="">{{obj.CreateTime }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
  
{% endblock %}