{% extends "base.html" %}
{% block content %}

<div class="containerW100">
    <div class="row align-items-start">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    Lista CloudWatch Logs - Profilo attivo: <b>{{profile}}</b>
                </li>
                <li class="list-group-item p-1 overflow-hidden ">
                    {% for b in list %}
                        <a href="/cw_logs/{{b.logGroupName | replace("/", "ç") }}"  class="badge {% if sel==b.logGroupName %} badge-primary {% else %} badge-info  {% endif %}">
                            {{b.logGroupName}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="col table-responsive">
            {% if load_l2==True %}
            <table class="table table-bordered small ">
                <thead><tr><th colspan="2" class="table-success">{{sel}} </th></tr></thead>
                <tbody>
                    {% for obj in detail %}
                        <tr><td>
                            <a href="/cw_logs/{{sel | replace("/", "ç") }}/{{obj.logStreamName | replace("/", "ç") }}" >{{obj.creationTime}}</a>
                        </td><td class="">{{obj.logStreamName}}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if load_l3==True %}
                <table class="table table-bordered small ">
                    <tbody>
                        <tr><td colspan="3" class="table-success"><b>
                            <a href="/cw_logs/{{sel | replace("/", "ç") }}">{{sel}}</a>
                        </b></td></tr>
                        <tr><td colspan="3" class="table-success"><b>{{stream}}</b></td></tr>
                        {% for el in detail %}
                            <tr>
                                <td>{{el.timestamp}}</td>
                                <td class="small ">{{el.message}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function(){ //$('document').ready(function(){
        //document.getElementById("definitionPRE").innerHTML = JSON.stringify(detail['definition' ] | tojson | safe }} , undefined, 2);
    };    
</script>
{% endblock %}