{% extends "base.html" %}
{% block content %}


<div class="containerW100">
    <div class="row align-items-start">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">
                    Lista Job Glue - Profilo attivo: <b>{{profile}}</b>
                </li>
                <li class="list-group-item p-1 overflow-hidden ">
                    {% for b in list_gj %}
                        <a href="/glue_job_level2/{{b.Name}}"  class="badge {% if idsel==b.Name %} badge-primary {% else %} badge-info  {% endif %}">
                            {{b.Name}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="col table-responsive">
            {% if load_l2==True %}
            <table class="table table-bordered small ">
                <thead><tr><th colspan="2" class="table-success">{{idsel}}</th></tr></thead>
                <tbody>
                    {% for obj in dettaglio %}
                        <tr><td>{{obj}}</td><td class="">{{dettaglio[obj] }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            {% endif %}
        </div>
        <div class="col">
            {% if load_l2==True %}
            <table class="table table-bordered small ">
                <thead><tr><th colspan="3"  class="table-success">Esecuzioni</th></tr></thead>
                <tbody>
                    {% for obj in esecuzioni %}
                        <tr><td>{{obj.JobRunState}}</td><td class="">{{obj.StartedOn }}</td><td class="">{{obj.CompletedOn }}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
  
{% endblock %}